name: tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  linting:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.0

      - name: Set up Python 3.11
        uses: actions/setup-python@v6.1.0
        with:
          python-version: 3.11

      - name: Install pre-commit
        run: pip install pre-commit

      - uses: leafo/gh-actions-lua@v12
      - uses: leafo/gh-actions-luarocks@v5

      - name: Run pre-commit
        run: pre-commit run --all-files
